.reg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

form {
    flex: 0 0 auto;
    width: 100%;
    max-width: 1000px;
    border: 1px solid #ccc;
    padding: 30px;
    box-sizing: border-box;
}

form label {
    flex: 1 1 100%;
    margin-left: 1%;
}

form h1 {
    text-align: center;
}

form input {
    height: 40px;
    width: 60%;
}

form input:last-child {
    margin-bottom: 2%;
}

form button {
    height: 50px;
    width: 25%;
    margin-bottom: 2%;
    cursor: pointer;
    border: 1px solid;
}

@media (max-width: 480px) {
    form {
        width: 100%;
        flex-flow: column wrap;
    }

    form input {
        width: 100%;
        flex: 1 1 100%;
    }

    form p {
        text-align: center;
    }

    form button {
        width: 60%;
        margin-top: 10%;
    }
}

@media (min-width: 481px) and (max-width: 1000px) {
    form {
        width: 95%;
    }

    form button {
        width: 40%;
        margin-top: 5%;
    }
}